examples/01-basic-query.json
[{"id":"pg-config","type":"PostgresDBNode","name":"dvdrental","host":"localhost","port":"5432","database":"dvdrental","user":"postgrestor","password":"postgrestor","sslmode":"disable","max":"10","min":"1","idle":"10000","connectionTimeout":"10000","statementTimeout":"0"},{"id":"inject-01","type":"inject","name":"Run query","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":180,"y":160,"z":"tab-01","wires":[["pg-01"]]},{"id":"pg-01","type":"PostgresNode","name":"All films","topic":"","query":"SELECT film_id,title,release_year FROM film ORDER BY title LIMIT 10","PostgresDBNode":"pg-config","throwErrors":false,"useNamedParams":false,"queryTimeout":"0","mapNumeric":false,"mapTimestamptz":false,"parseJsonb":false,"transactionMode":false,"cursorMode":false,"copyMode":false,"cursorBatchSize":"100","retryEnabled":false,"maxRetries":"3","retryBaseDelay":"100","x":420,"y":160,"z":"tab-01","wires":[["debug-01"]]},{"id":"debug-01","type":"debug","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":160,"z":"tab-01","wires":[]},{"id":"comment-01","type":"comment","name":"Basic SELECT query with Mustache template. Click the inject button to run. Results appear in the debug sidebar.","info":"","x":180,"y":100,"z":"tab-01","wires":[]}]
