examples/02-named-parameters.json
[{"id":"pg-config","type":"PostgresDBNode","name":"dvdrental","host":"localhost","port":"5432","database":"dvdrental","user":"postgrestor","password":"postgrestor","sslmode":"disable","max":"10","min":"1","idle":"10000","connectionTimeout":"10000","statementTimeout":"0"},{"id":"inject-02","type":"inject","name":"{id:1,name:'Penelope'}","props":[{"p":"params","v":"{\"id\":1,\"name\":\"Penelope\"}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","x":200,"y":160,"z":"tab-02","wires":[["pg-02"]]},{"id":"pg-02","type":"PostgresNode","name":"Find customer by id","topic":"","query":"SELECT first_name,last_name,email FROM customer WHERE customer_id = $1 AND first_name = $2","PostgresDBNode":"pg-config","throwErrors":false,"useNamedParams":true,"queryTimeout":"0","mapNumeric":false,"mapTimestamptz":false,"parseJsonb":false,"transactionMode":false,"cursorMode":false,"copyMode":false,"cursorBatchSize":"100","retryEnabled":false,"maxRetries":"3","retryBaseDelay":"100","x":460,"y":160,"z":"tab-02","wires":[["debug-02"]]},{"id":"debug-02","type":"debug","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":160,"z":"tab-02","wires":[]},{"id":"comment-02","type":"comment","name":"Named parameters: msg.params {id:1,name:'Penelope'} → $1,$2 in insertion order. Mustache runs first, then params bind. Enable 'Named Parameters' toggle on the node.","info":"","x":200,"y":100,"z":"tab-02","wires":[]}]
