examples/03-transaction.json
[{"id":"pg-config","type":"PostgresDBNode","name":"dvdrental","host":"localhost","port":"5432","database":"dvdrental","user":"postgrestor","password":"postgrestor","sslmode":"disable","max":"10","min":"1","idle":"10000","connectionTimeout":"10000","statementTimeout":"0"},{"id":"inject-03","type":"inject","name":"Begin transaction","props":[{"p":"payload","v":"[{\"query\":\"UPDATE customer SET first_name=$1 WHERE customer_id=1\",\"params\":[\"Ada\"],\"output\":true},{\"query\":\"INSERT INTO actor(first_name,last_name) VALUES($1,$2)\",\"params\":[\"New\",\"Actor\"],\"output\":false}]","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","x":200,"y":160,"z":"tab-03","wires":[["pg-03"]]},{"id":"pg-03","type":"PostgresNode","name":"Transaction example","topic":"","query":"SET LOCAL lock_timeout = '5s'","PostgresDBNode":"pg-config","throwErrors":false,"useNamedParams":false,"queryTimeout":"0","mapNumeric":false,"mapTimestamptz":false,"parseJsonb":false,"transactionMode":true,"cursorMode":false,"copyMode":false,"cursorBatchSize":"100","retryEnabled":false,"maxRetries":"3","retryBaseDelay":"100","x":460,"y":160,"z":"tab-03","wires":[["debug-03"]]},{"id":"debug-03","type":"debug","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":160,"z":"tab-03","wires":[]},{"id":"comment-03","type":"comment","name":"Transaction mode: msg.payload is an array of {query,params,output}. All execute atomically (BEGIN/COMMIT). First output:true wins for msg.payload.rows. On error: auto-ROLLBACK, client guaranteed released.","info":"","x":200,"y":100,"z":"tab-03","wires":[]}]
