examples/04-cursor-streaming.json
[{"id":"pg-config","type":"PostgresDBNode","name":"dvdrental","host":"localhost","port":"5432","database":"dvdrental","user":"postgrestor","password":"postgrestor","sslmode":"disable","max":"10","min":"1","idle":"10000","connectionTimeout":"10000","statementTimeout":"0"},{"id":"inject-04","type":"inject","name":"Stream all films","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":180,"y":160,"z":"tab-04","wires":[["pg-04"]]},{"id":"pg-04","type":"PostgresNode","name":"Cursor - all films (batch 5)","topic":"","query":"SELECT film_id,title,release_year FROM film ORDER BY film_id","PostgresDBNode":"pg-config","throwErrors":false,"useNamedParams":false,"queryTimeout":"0","mapNumeric":false,"mapTimestamptz":false,"parseJsonb":false,"transactionMode":false,"cursorMode":true,"copyMode":false,"cursorBatchSize":"5","retryEnabled":false,"maxRetries":"3","retryBaseDelay":"100","x":440,"y":160,"z":"tab-04","wires":[["debug-04","fn-04"]]},{"id":"debug-04","type":"debug","name":"Each batch","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":120,"z":"tab-04","wires":[]},{"id":"fn-04","type":"function","name":"Detect complete","func":"if (msg.complete) {\n    node.warn(`All films streamed! Total: ${msg.total} rows`);\n    return null;\n}\nnode.warn(`Batch #${msg.batch.index}: ${msg.batch.rows} rows (cumulative: ${msg.batch.total})`);\nreturn null;","outputs":0,"x":670,"y":220,"z":"tab-04","wires":[]},{"id":"comment-04","type":"comment","name":"Cursor mode: streams SELECT in batches via DECLARE/FETCH. Each batch emits a message with {payload,batch:{index,rows,total}}. Final message has {payload:[],complete:true,total:N}. Check debug tab and Node-RED log for batch progress.","info":"","x":180,"y":100,"z":"tab-04","wires":[]}]
