examples/05-copy-export.json
[{"id":"pg-config","type":"PostgresDBNode","name":"dvdrental","host":"localhost","port":"5432","database":"dvdrental","user":"postgrestor","password":"postgrestor","sslmode":"disable","max":"10","min":"1","idle":"10000","connectionTimeout":"10000","statementTimeout":"0"},{"id":"inject-05","type":"inject","name":"Export CSV","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":180,"y":160,"z":"tab-05","wires":[["pg-05"]]},{"id":"pg-05","type":"PostgresNode","name":"COPY TO export","topic":"","query":"COPY film TO STDOUT WITH (FORMAT csv, HEADER true, DELIMITER ',')","PostgresDBNode":"pg-config","throwErrors":false,"useNamedParams":false,"queryTimeout":"0","mapNumeric":false,"mapTimestamptz":false,"parseJsonb":false,"transactionMode":false,"cursorMode":false,"copyMode":true,"cursorBatchSize":"100","retryEnabled":false,"maxRetries":"3","retryBaseDelay":"100","x":420,"y":160,"z":"tab-05","wires":[["debug-05"]]},{"id":"debug-05","type":"debug","name":"CSV output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":160,"z":"tab-05","wires":[]},{"id":"comment-05","type":"comment","name":"COPY mode: exports entire film table as CSV via PostgreSQL COPY protocol. Much faster than SELECT+serialize. msg.payload contains the full CSV string. Enable 'COPY Mode' toggle. Also supports COPY FROM for CSV import.","info":"","x":180,"y":100,"z":"tab-05","wires":[]}]
