examples/06-listener-notify.json
[{"id":"pg-config","type":"PostgresDBNode","name":"dvdrental","host":"localhost","port":"5432","database":"dvdrental","user":"postgrestor","password":"postgrestor","sslmode":"disable","max":"10","min":"1","idle":"10000","connectionTimeout":"10000","statementTimeout":"0"},{"id":"listener-06","type":"PostgresListenerNode","name":"Listen dvd","channel":"dvd","PostgresDBNode":"pg-config","parseNotifyJson":true,"outputs":1,"x":260,"y":160,"z":"tab-06","wires":[["debug-06"]]},{"id":"debug-06","type":"debug","name":"NOTIFY events","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":160,"z":"tab-06","wires":[]},{"id":"exec-06","type":"exec","name":"Send NOTIFY","command":"psql postgresql://postgrestor:postgrestor@localhost:5432/dvdrental -c \"NOTIFY dvd, '[\\\"msg\\\",\\\"payload\\\"]'\"","addpay":"","append":"","useSpawn":"","timer":"","winHide":false,"x":180,"y":280,"z":"tab-06","wires":[["debug-06-err"]]},{"id":"inject-06a","type":"inject","name":"Trigger NOTIFY","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":180,"y":220,"z":"tab-06","wires":[["exec-06"]]},{"id":"debug-06-err","type":"debug","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":280,"z":"tab-06","wires":[]},{"id":"comment-06","type":"comment","name":"Listener node: connects and runs LISTEN on the channel. NOTIFY events appear as {channel,payload,_original}. JSON payloads auto-parse. Connection drops auto-recover. Click inject to send a test NOTIFY via psql.","info":"","x":180,"y":100,"z":"tab-06","wires":[]}]
