examples/07-retry-transient.json
[{"id":"pg-config","type":"PostgresDBNode","name":"dvdrental","host":"localhost","port":"5432","database":"dvdrental","user":"postgrestor","password":"postgrestor","sslmode":"disable","max":"10","min":"1","idle":"10000","connectionTimeout":"10000","statementTimeout":"0"},{"id":"inject-07","type":"inject","name":"Safe query","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":180,"y":160,"z":"tab-07","wires":[["pg-07"]]},{"id":"pg-07","type":"PostgresNode","name":"Retry example","topic":"","query":"SELECT film_id,title FROM film WHERE film_id = 1","PostgresDBNode":"pg-config","throwErrors":false,"useNamedParams":false,"queryTimeout":"0","mapNumeric":false,"mapTimestamptz":false,"parseJsonb":false,"transactionMode":false,"cursorMode":false,"copyMode":false,"cursorBatchSize":"100","retryEnabled":true,"maxRetries":"3","retryBaseDelay":"100","x":420,"y":160,"z":"tab-07","wires":[["debug-07"]]},{"id":"debug-07","type":"debug","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":160,"z":"tab-07","wires":[]},{"id":"comment-07","type":"comment","name":"Retry mode: auto-retries on transient errors (deadlock 40P01, serialization 40001, connection resets) with jittered exponential backoff. Max 3 retries, base delay 100ms (delay = min(5s, 100×2^attempt)×random). Non-transient errors propagate immediately. Cursor and COPY mode are NOT retried.","info":"","x":180,"y":100,"z":"tab-07","wires":[]}]
